body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-color: #b7a389;
  overflow: hidden;
  transform: rotate(-45deg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.inner-transition-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 0;
  height: 100%;
  z-index: 5;
  animation: growOverlay 0.5s forwards ease-in-out;
  border-radius: 10px;
}
.main-container.expand-fullscreen {
  z-index: 9999;
  animation: expandFullscreen 0.7s ease-in-out forwards;
}

.main-image {
  width: 100%;
  height: 135%;
  border-radius: 10px;
  transform: rotate(45deg);
  position: relative;
  top: 25px;
  right: 15px;
  object-fit: contain;
}
.main-page {
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow: scroll;
  background-color: #ffffff;
}
.main-page-text-contain {
  padding: 0.5rem 1rem;
}
.main-page-container::-webkit-scrollbar {
  display: none;
}
.main-text-container {
  position: absolute;
  transform: translate(182px, 105px);
  font-size: 21px;
  color: #fff;
  text-align: start;
  font-weight: 400;
}
.main-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 56px;
  transform: rotate(45deg);
}
.main-text-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-text-container ul li {
  color: #6d6d6d;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: Hind, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.main-text a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease;
}
.main-text a:hover {
  color: #e3a24e;
}
.main-stack-container {
  position: absolute;
  transform: translate(-150px, -200px);
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}
.main-stack {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 1rem;
  transform: rotate(-45deg);
}
.main-stack-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-stack-container ul li {
  color: #999;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  font-family: Hind, sans-serif;
}
.main-title {
  margin: 1rem;
}
.main h1 {
  position: relative;
  top: 5rem;
  font-size: 40px;
  font-weight: lighter;
  letter-spacing: 15px;
  color: #999;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: inset 0 -1px 8px #b7a389;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.footer-container h1 {
  font-size: 32px;
  color: #964b00;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}
.footer-socials {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer-socials-container {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  padding: 0.5rem;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px #b7a389;
}
.footer-socials-container img {
  transform: rotate(-45deg);
}
.close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 0.5rem;
  width: 100%;
  height: 5vh;
}
.download_logo {
  width: 25px !important;
  height: 25px !important;
  border-radius: 0 !important;
}
@keyframes growOverlay {
  0% {
    width: 0%;
    height: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes expandFullscreen {
  0% {
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    top: 0;
    left: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    border-radius: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media screen and (max-height: 600px) {
  .main-container {
    width: 325px;
    height: 325px;
  }
  .main-text-container {
    transform: translate(135px, 100px);
    font-size: 18px;
  }
  .main-stack-container {
    transform: translate(-135px, -155px);
    font-size: 20px;
  }
  .main-text {
    gap: 32px;
  }
}
